* {
    border: none;
    border-radius: 5;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

tooltip {
    background: #404859;
    opacity: 0.8;
    border-radius:5px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #ffffff;
    margin-right: 5px;
}

#workspaces button.active {
    color: #11111b;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 5px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 5px;
}

#custom-launch_wofi,
#window,
#disk,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#workspaces,
#backlight {
    background: #313744;
    opacity: 0.9;
    padding: 0px 8px;
    margin: 3px 3px;
    border: 0px;
}

#window {
  color: #11111b;
  background-color: #EE99A0;
}

#clock {
  color: #11111b;
  background-color: #8BD5CA;
}

#tray {
  color: #11111b;
  background-color: #24273A;
}

#backlight {
  color: #11111b;
  background-color: #ED8796;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
    background-color : #B7BDF8;
}

#window {
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-launch_wofi {
    color: #11111b;
    background-color: #C5CFF5;
    margin-left: 3px;
    border-right: 0px;
}

#pulseaudio {
    color: #11111b;
    background-color: #F5A97F;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #11111b;
    background-color: #EED49F;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #11111b;
    background-color: #A6DA95;
    border-left: 0px;
}

